@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ViewAllModel>;
@{
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>All consumers</title>
	<style>
		table {
			width: 100%;
		}
		td, th {
			border: 1px solid #cccccc;
			padding: 8px;
		}

		.Відключено {
			color: red;
		}
		.Підключено {
			color: green;
		}
		tr:nth-child(even) {
			background-color: #dddddd;
		}
		.actions-containder {
			background-color: none;
			cursor: pointer;
		}
		.tip {
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left: 8px;
			padding-right: 8px;
			color: gray;
			border-style: solid;
			border-width: 1px;
			border-color: gray;
			position: absolute;
			top: 20px;
			left: 20px;
			pointer-events: none;
			opacity: 0;
			background-color: white;
		}
		.remove-icon:hover .tip {
			opacity: 1;
		}
		.calls-icon:hover .tip {
			opacity: 1;
		}
		.remove-icon {
			margin-right: 4px;
			display: inline-block;
			position: relative;
		}
		.calls-icon {
			display: inline-block;
			position: relative;
		}
		.action-button {
			padding: 0px;
			background-color: inherit;
			border: none;
		}
		.date-header {
			margin-bottom: 50px;
			display: flex;
		}
		.date {
			
			margin-left: auto; 
			margin-right: 0;
		}

	</style>
		
	<script>
		 window.onload = function () {
			const selectColumnList = document.getElementById("selectedColumn");
            selectColumnList.value = '@ViewData["orderby"]';

			const selectOrderList = document.getElementById("selectedOrder");
            selectOrderList.value = '@ViewData["order"]';
		} 

		
		function removeClient(id) {
			location.href = window.location.origin + "/Consumer/Remove?id=" + id;
		}
		function ShowCalls(id) {
			location.href = window.location.origin + "/MobilePhone/Calls?consumerId=" + id;
		}
		
		function inputChangedHandler() {
			const column = document.getElementById("selectedColumn").value;
			const order = document.getElementById("selectedOrder").value;
			const date = document.getElementById("currentDateInput").value;
			location.href = window.location.origin + '?orderby=' + column + '&order=' + order + '&date=' + date;
		}
	</script>
</head>
<body>
	<div class="date-header" align="right">
		<div class="date">
			Поточна дата: 
			<input type="date" name="currentDate" id="currentDateInput" onchange="inputChangedHandler()" value='@ViewData["date"]'>
		</div>
	</div>
	<div>
		<div>
			Впорядкувати за:
			<select id="selectedColumn" onchange="inputChangedHandler()" value='@ViewData["orderby"]'>
				<option hidden disabled value="id">Виберіть стовбець</option>
				<option value="name">Ім'я</option>
				<option value="surname">Прізвище</option>
				<option value="patronymic">По батькові</option>
				<option value="address">Адреса</option>
				<option value="phoneNumber">Номер телефону</option>
				<option value="monthlyFee">Абонентська плата</option>
				<option value="balance">Баланс</option>
			</select>
			Порядок сортування:
			<select id="selectedOrder" onchange="inputChangedHandler()" value='@ViewData["order"]'>
				<option value="ascending">Зростанням</option>
				<option value="descending">Спаданням</option>
			</select>
		</div>
		<table id="Table">
			<thead>
				<tr>
					<th>Ім'я</th>
					<th>Прізвище</th>
					<th>По батькові</th>
					<th>Адреса</th>
					<th>Номер телефону</th>
					<th>Абонентська плата</th>
					<th>Баланс</th>
					<th>Статус</th>
					<th>Дії</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var consumer in @Model)
				{
					<tr>
						<td>@consumer.Name</td>
						<td>@consumer.Surname</td>
						<td>@consumer.Patronymic</td>
						<td>@consumer.Address</td>
						@if (consumer.PhoneNumbers!.Count() == 1)
						{
							<td>@consumer.PhoneNumbers[0]</td>
						}
						else
						{
							<td>
								<ul>
									@for (int i = 0; i < consumer.PhoneNumbers.Count; i++)
									{
										<li>@consumer.PhoneNumbers[i]</li>
									}
								</ul>
							</td>
						}
						<td>@consumer.MonthlyFee</td>
						<td class="@consumer.Status">@consumer.Balance</td>
						<td class="@consumer.Status">@consumer.Status</td>
						<td class="remove-cell">
							<div class="actions-containder">
								<div class="remove-icon">
									<button class="action-button" onclick="removeClient('@consumer.Id.ToString()')">❌</button>
									<div class="tip">
										Вилучити
									</div>
								</div>

								<div class="calls-icon">
									<button class="action-button" onclick="ShowCalls('@consumer.Id.ToString()')">📞</button>
									<div class="tip">
										Журнал викликів
									</div>
								</div>
								
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>