@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ViewAllModel>;
@{
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>All consumers</title>
	<style>
		table {
			width: 100%;
		}
		td, th {
			border: 1px solid #cccccc;
			padding: 8px;
		}

		.Відключено {
			color: red;
		}
		.Підключено {
			color: green;
		}
		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
		
	<script>
		const button = document.getElementById("ToSortButton");
		function sort() {
			var column = document.getElementById("selectedColumn").value;
			var order = document.getElementById("selectedOrder").value;
			location.href = window.location.href.split('?')[0] + '?orderby=' + column + '&order=' + order;
		}
	</script>
</head>
<body>
	<div>
		Впорядкувати за:
		<select id="selectedColumn">
			<option value="name" selected>Ім'я</option>
			<option value="surname">Прізвище</option>
			<option value="patronymic">По батькові</option>
			<option value="address">Адреса</option>
			<option value="phoneNumber">Номер телефону</option>
			<option value="monthlyFee">Абонентська плата</option>
			<option value="balance">Баланс</option>
		</select>
		Порядок сортування:
		<select id="selectedOrder">
			<option value="ascending" selected>Зростанням</option>
			<option value="descending">Спаданням</option>
		</select>
		<button id="ToSortButton" onclick="sort()">Посортувати</button>
	</div>
	<table id="Table">
		<thead>
			<tr>
				<th>Ім'я</th>
				<th>Прізвище</th>
				<th>По батькові</th>
				<th>Адреса</th>
				<th>Номер телефону</th>
				<th>Абонентська плата</th>
				<th>Баланс</th>
				<th>Статус</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var consumer in @Model)
			{
				<tr>
					<td>@consumer.Name</td>
					<td>@consumer.Surname</td>
					<td>@consumer.Patronymic</td>
					<td>@consumer.Address</td>
					@if (consumer.PhoneNumbers!.Count() == 1)
					{
						<td>@consumer.PhoneNumbers[0]</td>
					}
					else
					{
						<td>
							<ul>
								@for (int i = 0; i < consumer.PhoneNumbers.Count; i++)
								{
									<li>@consumer.PhoneNumbers[i]</li>
								}
							</ul>
						</td>
					}
					<td>@consumer.MonthlyFee</td>
					<td class="@consumer.Status">@consumer.Balance</td>
					<td class="@consumer.Status">@consumer.Status</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>

